* {
background-color: BurlyWood;
color: black;
}

html {
  border-radius: 10px;
  border: 2px outset black;
  width: 500px;
  height: 600px;
  margin: 10px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  padding-right: 10px;
  padding-left: 10px;
}

p {
text-indent: 1.1em;
font-family: sans-serif;
font-weight: lighter;
font-size: 14px;
word-spacing: 5px;
}

.title {
  font-weight: bold;
  }

.subtitle {
  text-align: center;
  }

p, big {
  font-size: 14px;
}

big {
    font-style: italic;
    text-decoration: underline;
}

.page {
  font-weight: bold;
  text-align: center;
}


